<%= turbo_frame_tag "resgate-turbo-form" do %>
  <%= form_with(model: resgate) do |form| %>
    <% if resgate.errors.any? %>
      <script>
          alert("Por favor preencha novamente:\n<%= resgate.errors.full_messages.to_sentence %>")
      </script>
    <% end %>

    <div>
      <%= form.label :nome, 'Nome*', style: "display: block", class: "preencha-texto-resgate-media" %>
      <%= form.text_field :nome, class: "form-control"  %>
    </div>

    <div>
      <%= form.label :email, 'Email*', style: "display: block", class: "preencha-texto-resgate-media" %>
      <%= form.text_field :email, class: "form-control" %>
    </div>

    <div>
      <%= form.label :phone, 'Fone*', style: "display: block", class: "preencha-texto-resgate-media" %>
      <%= form.text_field :phone, class: "form-control"  %>
    </div>
    <br>

    <div>
      <%= form.label :chave, 'Chave de acesso da sua nota fiscal de compra dos produtos Raíx (apenas números)*',
       style: "display: block", class: "preencha-texto-resgate-media" %>
      <%= form.text_field :chave, class: "form-control"  %>
    </div>
    <br>
    <div>
      <%= form.label :cpfcnpj, 'Informe o seu CPF/CNPJ cadastrado no programa PRO Carbono da Bayer (Apenas números, sem pontos ou traços)*',
       style: "display: block", class: "preencha-texto-resgate-media" %>
      <%= form.text_field :cpfcnpj, class: "form-control"  %>
    </div>
    <br>
    <div class="form-check">
      <%= form.check_box :agree, class: 'form-check-input' %>
      <%= form.label :agree,
      'Ao preencher esse formulário, vocês está de acordo com as regras da Campanha de 
      Pontos PRO Carbono Raíx, conforme regulamento que está descrito nesta página.',
      class: "form-check-label preencha-texto-dizeres-resgate" %>
    </div>

    <div class="form-check">
      <%= form.check_box :privacidade, class: 'form-check-input' %>
      <%= form.label :privacidade, 
      "Ao informar os meus dados, estou ciente das diretrizes da Política de Privacidade.", 
      class: "form-check-label preencha-texto-dizeres-resgate"
      %>
    </div>

      <div class="text-center">
        <%= form.submit 'Enviar', class: "btn btn-success", data: { turbo_confirm: 'As informações estão corretas?' } %>
      </div>
  <% end %>
<% end %>
