<div id="<%= dom_id resgate %>">
  <p>
    <strong>Nome:</strong>
    <%= resgate.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= resgate.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= resgate.phone %>
  </p>

  <p>
    <strong>Chave:</strong>
    <%= resgate.chave %>
  </p>

  <p>
    <strong>Cpfcnpj:</strong>
    <%= resgate.cpfcnpj %>
  </p>

  <p>
    <strong>Agree:</strong>
    <%= resgate.agree %>
  </p>

  <p>
    <strong>Privacidade:</strong>
    <%= resgate.privacidade %>
  </p>

</div>
