<p style="color: green"><%= notice %></p>

<%= render @resgate %>

<div>
  <%= link_to "Edit this resgate", edit_resgate_path(@resgate) %> |
  <%= link_to "Back to resgates", resgates_path %>

  <%= button_to "Destroy this resgate", @resgate, method: :delete %>
</div>
