<%= form_with(model: subscription ) do |form| %>
  <% if subscription.errors.any? %>
      <%# pluralize(subscription.errors.count, "error") %>
      <script>
      alert("Por favor preencha novamente:\n<%= subscription.errors.full_messages.to_sentence %>")
      </script>
  <% end %>

  <div>
    <%= form.label 'Nome*', style: "display: block", class: "preencha-texto" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.label 'Telefone*', style: "display: block", class: "preencha-texto" %>
    <%= form.text_field :phone, class: "form-control"  %>
  </div>

  <div>
    <%= form.label 'Email*', style: "display: block", class: "preencha-texto" %>
    <%= form.text_field :email, class: "form-control"  %>
  </div>

  <div>
    <%= form.label 'Cidade*', style: "display: block", class: "preencha-texto" %>
    <%= form.text_field :city, class: "form-control"  %>
  </div>

  <div>
    <%= form.label 'Estado*', style: "display: block", class: "preencha-texto" %>
    <%= form.select :province,
    [
      ['AC','AC'],
      ['AL','AL'],
      ['AM','AM'],
      ['AP','AP'],
      ['BA','BA'],
      ['CE','CE'],
      ['DF','DF'],
      ['ES','ES'],
      ['GO','GO'],
      ['MA','MA'],
      ['MG','MG'],
      ['MS','MS'],
      ['MT','MT'],
      ['PA','PA'],
      ['PB','PB'],
      ['PE','PE'],
      ['PI','PI'],
      ['PR','PR'],
      ['RJ','RJ'],
      ['RN','RN'],
      ['RO','RO'],
      ['RR','RR'],
      ['RS','RS'],
      ['SC','SC'],
      ['SE','SE'],
      ['SP','SP'],
      ['TO','TO'],
      ['ESTRANGEIRO','ESTRANGEIRO'],
    ], {}, { class: "form-select" } 
     %>
  </div>

  <div>
    <%= form.label 'Perfil Profissional*', style: "display: block", class: "preencha-texto" %>
    <%= form.select :profile, ["Produtor", "Gerente de propriedade rural", "Técnico de propriedade rural", "Revendedor", "Consultor", "Estudante", "Outros"], {}, { class: "form-select" }  %>
  </div>

  <div class="form-check">
    <%= form.check_box :agree, class: 'form-check-input' %>
    <%= form.label 'Eu concordo em receber comunicações da Raíx Sementes', class: "form-check-label preencha-texto" %>
  </div>

  <div class="text-center">
    <%= form.submit 'Enviar', class: "btn btn-success", data: { turbo_confirm: 'As informações estão corretas?' } %>
  </div>
<% end %>
