<div id="<%= dom_id subscription %>">
  <p>
    <strong>Name:</strong>
    <%= subscription.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= subscription.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= subscription.email %>
  </p>

  <p>
    <strong>City:</strong>
    <%= subscription.city %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= subscription.province %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= subscription.profile %>
  </p>

  <p>
    <strong>Agree:</strong>
    <%= subscription.agree %>
  </p>

</div>
