<header>
  <div class="head container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
          <div class="slogan-wrapper">
            <%= image_tag '3-logos-brancas.png', alt: "PRO Carbono", class: "logos-cab" %>
            <h1 class="titulo-sustentabiliade mt-2">SUSTENTABILIDADE</h1>
            <h3 class="titulo-compromisso">Um compromisso <br> diário</h3>
          </div>
        </div>
        <div class="col-5 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
          <div id="inscricao-float">
            <div id="form-inscricao">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid o-programa">
    <div class="container">
      <div class="row">
        <div class="p-5 col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 col-xxl-7">
          <p class="texto-justificado">
            O programa PRO Carbono promove uma agricultura 
            de baixo carbono com práticas agrícolas sustentáveis.
          </p>
          <p class="texto-justificado">
            A <b>Raíx</b>, em parceria com a Bayer no
            programa PRO Carbono, traz benefícios exclusivos
            para você produtor que está procurando aumentar a
            sustentabilidade e a rentabilidade das áreas cultivadas.
          </p>
          <p class="text-center">
            <%= link_to resgatar_url do %>
              <button type="button" class="btn-resgate">
              Clique aqui para acumular seus pontos
              </button>
            <% end %>
          </p>
          <br>
          <p class="texto-justificado"><span class="citacao">
            Comprovamos que os produtores podem
            realmente contribuir muito para reduzir as
            emissões de gases de efeito estufa, com
            adoção de práticas de baixo carbono, como
            o uso eficaz do solo e melhor manejo de
            áreas produtivas.</span>
          </p>
          <p class="texto-justificado">
            Os mix de plantas de cobertura da Raíx contribuem
             para sequestrar o carbono da atmosfera e fixam 
             no solo através da palhada e das raízes 
             eficientes, beneficiando o planeta e a sua propriedade.
          </p>
        </div>
        <div class="col-5 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
        </div> 
    </div>
  </div>
</div>
</header>
    <main>
      <section class="divisor-section">
        <div class="divisor"></div>
      </section>
      <section id="form-celular-wrapper" class="container d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
        <div id="form-inscricao-celular">
          <div id="form-celular">
          <div id="formulario">
                  <p class="preencha-texto">
                  Preencha o formulário e ative um atendimento técnico comercial da <b>Raíx</b>. 
                  Descubra os benefícios especiais para produtores cadastrados no <b>PRO Carbono</b>.
                  </p>
                  <p class="campos-texto">CAMPOS DE PREENCHIMENTO</p>
                    <%= render partial: "shared/flash_message" %>
                    <%= render "form", subscription: @subscription %>
                </div>
          </div>
        </div>
      </section>
      <section class="campanha-de-pontos">
        <div class="container-fluid pontos-container">
              <%= image_tag "campanha-de-pontos2.png", alt: "Campanha de pontos", class: "img-fluid" %>
            </div>
        </div>
        <div class="container p-4">
        <div class="row">
          <div class="col-0 col-sm-0 col-md-0 col-lg-2 col-xl-2 col-xxl-2"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8 texto-justificado">
            <%= render 'shared/regulamento_texto' %>
          </div>
          <div class="col-0 col-sm-0 col-md-0 col-lg-2 col-xl-2 col-xxl-2"></div>
        </div>
      </section>
      <section class="divisor-section">
        <div class="divisor"></div>
      </section>
      <section class="beneficios-raix">
        <h2 class="titulo-beneficios-raix">VOCÊ JÁ CONHECE OS BENEFÍCIOS DE UTILIZAR RAÍX?</h2>
        <div class="container-fluid gap-0"> 
          <div class="row">
            <div class="p-0 col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <%= image_tag "beneficios-raix-solo2.jpg", alt: "Benefícios Raíx", class: "img-fluid" %>
            </div>
            <div class="beneficios-col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
              <ul>
                <li class="beneficios-li">Aumento na atividade biológica;</li>
                <li class="beneficios-li">Infiltração e retenção de água no solo;</li>
                <li class="beneficios-li">Palhada diversa e abundante;</li>
                <li class="beneficios-li">Supressão nas ervas daninhas;</li>
                <li class="beneficios-li">Mantêm a umidade no solo;</li>
                <li class="beneficios-li">Alta ciclagem de nutrientes;</li>
                <li class="beneficios-li">Explora camadas profundas do solo.</li>
              </ul>
            </div>
          </div>
        </div>
        <h4 class="titulo-portifolio">Conheça o nosso portfólio para a Campanha de Pontos Raíx <br> para os produtores PRO Carbono na safra 23/24</h4>
        <div class="container">
          <div class="grid gap-3">
            <div class="mt-5 col-12"><%= image_tag "rx110.png", alt: "RX110", class: "img-fluid" %></div>
            <div class="mt-5 col-12"><%= image_tag "rx210.png", alt: "RX210", class: "img-fluid" %></div>
            <div class="mt-5 col-12"><%= image_tag "rx220.png", alt: "RX220", class: "img-fluid" %></div>
            <div class="mt-5 col-12"><%= image_tag "rx330.png", alt: "RX330", class: "img-fluid" %></div>
            <div class="mt-5 col-12"><%= image_tag "rx340.png", alt: "RX340", class: "img-fluid" %></div>
            <div class="mt-5 col-12"><%= image_tag "rx410.png", alt: "RX410", class: "img-fluid" %></div>
            <div class="mt-5 col-12"><%= image_tag "rx440.png", alt: "RX440", class: "img-fluid" %></div>
            <div class="mt-5 col-12"><%= image_tag "rx520.png", alt: "RX520", class: "img-fluid" %></div>
            <div class="mt-5 col-12"><%= image_tag "rx530.png", alt: "RX530", class: "img-fluid" %></div>
            <div class="mt-5 col-12"><%= image_tag "rx610.png", alt: "RX610", class: "img-fluid" %></div>
            <div class="mt-5 col-12"><%= image_tag "rx250.png", alt: "RX250", class: "img-fluid" %></div>
            <div class="mt-5 col-12"><%= image_tag "rx350.png", alt: "RX350", class: "img-fluid" %></div>
            <div class="mt-5 col-12"><%= image_tag "rx370.png", alt: "RX370", class: "img-fluid" %></div>
          </div>
        </div>
      </section>
    </main>
    <footer class="mt-5 pt-5">
      <div class="container text-center">
        <div class="row">
          <div class="col-0 col-sm-0 col-md-0 col-lg-2 col-xl-2 col-xxl-2"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8 texto-justificado">
            <iframe class="video" width="100%" height="360" src="https://www.youtube.com/embed/r9Y5hjq-ggs?si=5qiL76sVeBCFASX1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <div class="col-0 col-sm-0 col-md-0 col-lg-2 col-xl-2 col-xxl-2"></div>
        </div>
      </div>
      <div class="container text-center">
        <h3 class="titulo-footer">CONHEÇA MAIS SOBRE OS PRODUTOS DA</h3>
        <%= image_tag "raix-logo-branca.png", alt: "Logo Raix", width: "200" %>
      </div>
      <div class="container text-center">
        <a href="https://www.raixsementes.com.br">
          <button type="button" class="btn-wwwraixsementes">
            WWW.RAIXSEMENTES.COM.BR
          </button>
        </a>
      </div>
      <div class="container d-flex justify-content-center mt-5 gap-3 pb-5">
        <div class="social"><a href="https://www.instagram.com/raixsementes/"><%= image_tag "social-insta.png", alt: "Instagram", width: "35" %></a></div>
        <div class="social"><a href="https://www.facebook.com/raixsementes"><%= image_tag "social-face.png", alt: "Facebook", width: "35" %></a></div>
        <div class="social"><a href="https://www.linkedin.com/company/raixsementes/"><%= image_tag "social-linkedin.png", alt: "Linkedin", width: "35" %></a></div>
        <div class="social"><a href="https://www.youtube.com/channel/UCevxAfTVgt9Or7w4uI9HI7g"><%= image_tag "social-yt.png", alt: "YouTube", width: "35" %></a></div>
      </div>
    </footer>